:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-btn-color: #f5f4fa;
  --bgb-color: #ffffff;
  --primary-bgb-color: #2f303a;
  --accent-hero-button-color: #188ce8;
  --primary-section-color: #f5f4fa;
  --icons-color: #afb1b8;
  --icons-bg-color: rgba(255, 255, 255, 0.1);
  --secondary-accent-color: #ffffff;
  --icon-backround-color: #f5f4fa;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --text-color-form: rgba(117, 117, 117, 0.5);
  --primary-color: #212121;

  --secondary-accent-btn: #188ce8;
}

body {
  background-color: var(--bgb-color);
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  font-style: normal;
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Logo */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: var(--secondary-accent-color);
  z-index: 2;
}

.logo {
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--title-text-color);
}

.logo > span {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Навігація */
.site-nav {
  margin-left: 93px;

  display: flex;
  gap: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.contact-nav {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--title-text-color);

  transition: color var(--duration) var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  display: block;
  bottom: -1px;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-nav .link-contact {
  display: flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-text-color);

  text-decoration: none;

  transition: color var(--duration) var(--timing-function);
}

.contact-nav .link-contact:hover,
.contact-nav .link-contact:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  margin: auto auto;
  max-width: 1600px;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(56, 53, 53, 0.4),
      rgba(56, 53, 56, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  background-color: var(--primary-bgb-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--bgb-color);

  cursor: pointer;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--duration) var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-hero-button-color);
}

.benefits {
  display: flex;
  gap: 30px;
}

.background-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--icon-backround-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-worker {
  background-color: var(--primary-section-color);
}

.title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.title-main {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  width: 270px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.work {
  display: flex;
  gap: 30px;
}

.work > .item {
  position: relative;
}

.work .title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.worker-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.worker-list {
  display: flex;
  justify-content: space-between;
}

.worker-description {
  background-color: var(--bgb-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  padding: 30px;
}

.profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.icons-list {
  display: flex;
  gap: 10px;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
}

.social-network-link.primary {
  color: var(--icons-color);

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.social-network-link.secondary {
  color: var(--secondary-accent-color);

  background-color: var(--icons-bg-color);

  transition: background-color var(--duration) var(--timing-function);
}

.social-network-link.primary:hover,
.social-network-link.primary:focus {
  color: var(--secondary-accent-color);

  background-color: var(--accent-color);
}

.social-network-icon {
  fill: currentColor;
}

/* Client */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.link-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);

  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: color var(--duration) var(--timing-function);
}

.link-clients:hover,
.link-clients:focus {
  color: var(--accent-color);

  border-color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* Футер */
.footer {
  background-color: var(--primary-bgb-color);
  padding: 60px 0;
}

.logo.logo-footer {
  display: inline-block;

  color: var(--bgb-color);
  margin-bottom: 20px;
}

.street {
  display: block;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;

  color: var(--bgb-color);
}

.contact-footer .link-contact {
  display: block;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  transition: color var(--duration) var(--timing-function);
}

.contact-footer .link-contact:hover,
.contact-footer .link-contact:active {
  color: var(--accent-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}

.social-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.social-network-link.secondary:hover,
.social-network-link.secondary:focus {
  background-color: var(--accent-color);
}

.social-footer {
  margin-right: 93px;
}

.call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color var(--duration) var(--timing-function);
  cursor: pointer;
}

.icon-plane {
  margin-left: 10px;
}

.footer-form-label {
  margin-right: 12px;
}

.footer-form-input {
  display: block;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--adress-contact-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--secondary-accent-btn);
}
/* Портфоліо */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  gap: 8px;
}

.button-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-text-color);
  cursor: pointer;
  border: none;
  background-color: var(--primary-btn-color);
  border-radius: 4px;

  padding: 6px 22px;

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.button-list .button:hover,
.button-list .button:focus {
  background-color: var(--accent-color);
  color: var(--bgb-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link {
  display: block;
}

.project-item:hover,
.project-item:focus {
  display: block;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  cursor: pointer;
}

.type {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: var(--primary-text-color);

  letter-spacing: 0.03em;
}

.project-list img {
  display: block;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-overlay-description {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}

.project-item:hover .project-overlay,
.project-item:focus .project-overlay {
  transform: translateY(0);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  z-index: 2;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--secondary-accent-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

/* Form */
.modal-form-field {
  position: relative;

  margin-bottom: 10px;
}

.modal-title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.modal-field-label {
  display: block;
  margin-bottom: 4px;

  color: var(--primary-text-color);
}

.modal-field-label,
.modal-field-input,
.comment,
.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-field-input {
  display: block;
  padding: 11px 12px 11px 42px;
  height: 40px;
}

.modal-field-input,
.comment {
  width: 100%;

  color: var(--text-color-form);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline var(--duration) var(--timing-function);
}

.modal-field-input:focus,
.comment:focus {
  outline: 1px solid var(--accent-color);
}

.modal-field-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  pointer-events: none;

  transition: fill var(--duration) var(--timing-function);
}

.modal-field-input:focus + .modal-field-icon {
  fill: var(--accent-color);
}

.name {
  margin-top: 100px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.comment {
  display: block;
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 20px;

  resize: none;
}

.comment::placeholder {
  color: var(--text-color-form);
}

.field-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.icon-checked {
  margin-right: 7px;

  border: 1.75px solid var(--primary-color);
  border-radius: 2px;

  transition: background-color var(--duration) var(--timing-function);
}

.icon-checked:hover {
  cursor: pointer;
}

.checkbox:checked + .icon-checked,
.checkbox:checked:focus + .icon-checked {
  background-color: var(--accent-color);
  border: none;
}

.checkbox:focus + .icon-checked {
  outline: 2px solid var(--accent-color);
}

.policy {
  color: var(--secondary-color);
}

.policy-link {
  color: var(--accent-color);

  text-decoration: underline;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  color: var(--bgb-color);

  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--secondary-accent-btn);
}
